* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

/* Reset */

body {
    height: 100%;
    background-color: black;
}

p {
    line-height: 20px;
    color: var(--quaternary);
    margin-top: 10px;
}


ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* preset*/
:root {
    --primary: #00defc;
    --secondy: #fffffff1;
    --tertiary: #000356;
    --quaternary:#b2afac;
}

/* Header */
header{
    margin: 0 20px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul a {
    font-size: 1.1em;
    padding: 20px;
    font-weight: 600;
    color: var(--primary);
}

nav ul a:hover {
    color: azure;
    border-bottom: 1px solid azure;
    transition: 0.3s ease-in-out;
}

.button {
    cursor: pointer;
    font-size: 1.1em;
    border: none;
    outline: none;
    color: var(--tertiary);
    background-color: var(--primary);
    padding: 16px 30px;
}

.button:hover {
    background-color: var(--secondy);
    transition: 0.3s ease-in-out;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("/assets/imgs/background/bg1.jpg");
    background-position: center;
    background-size: cover;
}

.first-content {
    height: 100vh;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div-first-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-subtitle {
    padding:  20px 0;
}

.subtitle {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 3px;
    color: var(--primary);
    text-transform: uppercase;
}

.title {
    width: 70%;
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 20px;
    margin-top: 30px;
}

.paragraph {
    border-left: 2px solid var(--primary) ;
    padding-left: 10px;
    margin-top: 30px;
    width: 60%;
}

.div-button .button {
    margin-top: 30px;
}

.div-secondy-content {
    margin-top: 60px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.div-secondy {
    padding: 60px;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 50px;
}

.title-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Secondy-content */
.secondy-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
   
}

.div-about {
    width: 50%;
}

.about-more {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.about-more .button {
    margin-top: 30px
}

/* section */

.services {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.services-about .title-2{
    margin-top: 20px;
}

.wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 20px;
    color: #444;
}

.box {
    background-color: var(--tertiary);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.box img {
    margin-top: 30px;
}

  /* CTA */
.cta {
    text-align: center;
    margin-top: 70px;
    width: 100%;
    height: 400px;
}

.cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00242a;
}

.cta-content .title {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: 10px;
}

.cta-content p {
    margin-top: 10px;
    width: 60%;
}

.cta-content .button {
    margin-top: 30px;
}

  /* Section Contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.contact-content{
    width: 50%;
}

.contact-content p {
    margin-top: 30px;
}

.contact-content ul {
    padding: 10px;
}

.contact-content ul li {
    margin-top: 5px;
}


.contact-content .title {
    width: 100%;
    font-size: 3em;
    letter-spacing: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
}

.contact-form p {
    margin-top: 100px;
    width: 100%;
}

.contact-form form {
    width: 100%;
}

.contact-form  input{
    border: 1px solid var(--quaternary);
    padding: 0 20px;
    background-color: #000;
    color: var(--primary);
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.contact-form input::placeholder {
    color: var(--primary);
}

.contact-form textarea{
    background-color: #000;
    padding: 20px 20px;
    color: var(--primary);
    margin-top: 20px;
    width: 100%;
}

.contact-form textarea::placeholder {
    color: var(--primary);
}

/* Footer */
footer {
    display: flex;
   flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-color: #000813;
    height: 400px;
    width: 100%;
}

.contact-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
    margin-top: 30px;
}

.center {
    margin-top: 30px;
    text-align: center;
}